$light-gray: #DBDDE0;
$dark-gray: #6D6E71;
$light-green: #5A8D28;
$dark-green: #255A3F;
$light-yellow: #F8CF47;
$dark-yellow: #F29F39;
$light-red: #E73923;
$dark-red: #67122D;
$light-blue: #59B6E5;
$dark-blue: #1B4965;
$light-purple: #873B63;
$dark-purple: #2F0F3F;
